<div id="<%= dom_id portfolio %>">
  <h1 class="font-bold text-4xl"><%= @portfolio.title %></h1>
  <p class="text-3xl font-bold pt-16"><%= @portfolio.introduction %></p>
  <p class="py-6"><%= @portfolio.description %></p>
</div>
