<div id="<%= dom_id portfolio %>">
  <h1 class="font-bold text-4xl"><%= @portfolio.title %></h1>
  <p class="py-6"><%= @portfolio.description %></p>
  <h2 class="text-3xl font-bold pt-16">Portfolio items</h2>
  <% @portfolio.portfolio_items.each do |portfolio_item| %>
    <div class="mt-4">
      <%= render partial: 'portfolio_items/portfolio_item_list_item', locals: { portfolio_item: portfolio_item } %>
    </div>
  <% end %>
</div>
