<div class="prose">
  <h1>About this application</h1>
  <p>
    This service can be used to create a simple portfolio with separate pages for each portfolio item.
  </p>
  <p>
    Currently this is mostly a testbed for Rails 8 and functionality is pretty bare bones.
  </p>
  <h2>Disclaimer</h2>
  <p>
    This should be safe to use if you want to but we make no guarantees about any functionality.
    The application is provided as is and we take no responsibility for any real or perceived
    damage or losses due to the use of this application.
  </p>
</div>
