<div class="hero bg-base-200 min-h-80">
  <div class="hero-content text-center">
    <div>
      <h1 class="text-5xl font-bold">Portfolio manager</h1>

      <p class="py-6">Here you can create and manage your own tech portfolio.</p>

      <% unless authenticated? %>
        <a class="btn" href="/users/new">Sign up</a>
      <% end %>
    </div>
  </div>
</div>
