@tailwind base;
@tailwind components;
@tailwind utilities;

a:not(.link-button):not(.navbar a):not(.pagy a) {
  text-decoration: underline;
  color: #4F8BBF;
  &:hover {
    color: #3A6F98;
  }
}

ul {
  @apply list-disc list-inside pl-5;
}

ol {
  @apply list-decimal list-inside pl-5;
}

/* Pagy classes */
.pagy {
  @apply inline-flex items-stretch -space-x-px;

  > *:first-child {
    @apply rounded-l-lg;
  }

  > *:last-child {
    @apply rounded-r-lg;
  }
}

.pagy a:not(.gap) {
  @apply flex items-center justify-center py-3 px-4 leading-tight bg-base-100 border border-base-300;

  &:hover {
    @apply bg-base-200 text-gray-700;
  }

  &:not([href]) {
    @apply text-gray-300 bg-base-100 cursor-default no-underline;
  }

  &.current {
    @apply flex items-center justify-center z-10 py-3 px-4 leading-tight bg-primary border no-underline;
  }
}

span.pagy.info {
  @apply text-sm font-normal text-gray-500;
}
