<div class="card card-normal bg-base-100 hover:bg-base-200 w-full border-t-2 first:border-t-0 rounded-none" id="<%= dom_id portfolio_item %>">
  <div class="card-body">
    <h2 class="card-title text-base-content"><%= portfolio_item.title %></h2>
    <p class="text-base-content"><%= portfolio_item.description %></p>
    <div class="card-actions justify-end">
      <%= button_tag "Check this out", class: "btn btn-primary", onclick: "window.location.href='#{portfolio_item_path(portfolio_item)}'" %>
    </div>
  </div>
</div>
