<div class="card card-normal bg-base-100 w-96 shadow-xl" id="<%= dom_id portfolio_item %>">
  <div class="card-body">
    <h2 class="card-title"><%= portfolio_item.title %></h1>
    <p><%= portfolio_item.description %></p>
    <div class="card-actions justify-end">
      <%= button_tag "Check this out", class: "btn btn-primary", onclick: "window.location.href='#{portfolio_item_path(portfolio_item)}'" %>
    </div>
  </div>
</div>
